* {
   margin: 0;
   padding: 0;
}

html, body {
   height: 100%;
   font-family: 'Roboto', sans-serif;
   -webkit-font-smoothing: antialiased;   
}

body {
   background-image: url(../images/Desktop.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-color: #121214;

   display: flex;
   justify-content: center;
   align-items: center;
}

/* .material-icons{
   background: linear-gradient(#FF3D6E, #FFC323, #FF3D6E, #FFC323);
} */

.container {
   display: flex;
   justify-content: center;
   gap: 10rem;
}

.box {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   top: 8rem;
   
   background: transparent;
   width: 10rem;
   height: 5rem;
   border-radius: 20px;

   overflow: hidden;
}

.box::before {
   content: "";
   position: absolute;
   width: 64px;
   height: 11rem;
   background: linear-gradient(#FF3D6E, #FFC323, #FF3D6E, #FFC323);
   animation: animate 6s linear infinite;
}

.box::after {
   content: "";
   position: absolute;
   background: #121214;
   inset: 0.2rem;
   border-radius: 20px;
}

@keyframes animate {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }

}

.box a {
   color: white;
   text-decoration: none;
   text-align: center;
   padding: 100%;

   
   position: relative;
   z-index: 1;
}